<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>huyc0769.eudic-lookup</string>
	<key>connections</key>
	<dict>
		<key>2F3816D4-CBD0-4E1E-816B-7516CF9637AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5174C20-64A8-4027-BAE7-235E0778850E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B5174C20-64A8-4027-BAE7-235E0778850E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E00580CC-6D50-42F2-9673-D53416588AB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF33512D-1822-4C75-B6E5-B470EADDE192</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2FBDE43-5D48-402E-8492-E721466549E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3E21CCF-AB79-4431-AEB5-5E270EC9160D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2FBDE43-5D48-402E-8492-E721466549E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE35CB12-A05F-4A7F-83C5-2F4AC3FBDC35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B5174C20-64A8-4027-BAE7-235E0778850E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Hu Yingcong(mod by suliveevil)</string>
	<key>description</key>
	<string>look up certain words in Eudic.app</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Eudic-lookup</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>dic</string>
				<key>subtext</key>
				<string>在欧路词典中搜索 "{query}"</string>
				<key>text</key>
				<string>seach for "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FE35CB12-A05F-4A7F-83C5-2F4AC3FBDC35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>eu</string>
				<key>subtext</key>
				<string>在欧路词典中搜索 "{query}"</string>
				<key>text</key>
				<string>seach for "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2F3816D4-CBD0-4E1E-816B-7516CF9637AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  	tell application "Eudic"
		reopen		show dic with word q	end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E00580CC-6D50-42F2-9673-D53416588AB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B5174C20-64A8-4027-BAE7-235E0778850E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ddd</string>
				<key>subtext</key>
				<string>Search in Eudic</string>
				<key>text</key>
				<string>Eudic</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CF33512D-1822-4C75-B6E5-B470EADDE192</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>do shell script "open -b com.eusoft.eudic"tell application id "com.eusoft.eudic"	activate	show dic with word "{query}"end tell</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E2FBDE43-5D48-402E-8492-E721466549E6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Eudic</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>F3E21CCF-AB79-4431-AEB5-5E270EC9160D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Author: Hu Yingcong</string>
	<key>uidata</key>
	<dict>
		<key>2F3816D4-CBD0-4E1E-816B-7516CF9637AB</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>B5174C20-64A8-4027-BAE7-235E0778850E</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>CF33512D-1822-4C75-B6E5-B470EADDE192</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>E00580CC-6D50-42F2-9673-D53416588AB0</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>E2FBDE43-5D48-402E-8492-E721466549E6</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>F3E21CCF-AB79-4431-AEB5-5E270EC9160D</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>FE35CB12-A05F-4A7F-83C5-2F4AC3FBDC35</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
