<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.targumanu.massearch</string>
	<key>connections</key>
	<dict>
		<key>2C399287-EF02-4BD6-9D60-BAAAFCE0BFC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32715625-6073-4C95-B221-28AD342856F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B006C7A4-F892-4A87-ACE7-40E351351DAB</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open preview page</string>
			</dict>
		</array>
		<key>45DFC250-9FFB-4B5C-8D4C-5DD41F64E172</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C399287-EF02-4BD6-9D60-BAAAFCE0BFC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8480B199-F2C9-4794-ADE5-790D62864FB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7B0FC14-B1E8-441B-B391-0607FDB8429B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9F29BF29-32F5-4646-8F7B-043D35574CD2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7B0FC14-B1E8-441B-B391-0607FDB8429B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F067D296-A1E4-4B5F-971D-C287A5D1BE6E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DF4F420-035D-4B6B-8612-6B294FF68546</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F8A7E0F1-2DF1-46A9-938D-4404E866BAE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2860D99-CACD-440D-A62D-F0C9E4524214</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Michael Matochkin</string>
	<key>description</key>
	<string>Search the Mac App Store</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Mac App Store Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./MASSearch -mas: "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>32715625-6073-4C95-B221-28AD342856F5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>45DFC250-9FFB-4B5C-8D4C-5DD41F64E172</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>mas</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./MASSearch "{query}"</string>
				<key>title</key>
				<string>Search Mac App Store</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2C399287-EF02-4BD6-9D60-BAAAFCE0BFC1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./MASSearch -preview: "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B006C7A4-F892-4A87-ACE7-40E351351DAB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>2</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9F29BF29-32F5-4646-8F7B-043D35574CD2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>macappstore://showUpdatesPage</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C7B0FC14-B1E8-441B-B391-0607FDB8429B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>masu</string>
				<key>text</key>
				<string>Mac App Store Updates</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8480B199-F2C9-4794-ADE5-790D62864FB0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>macappstore://showPurchasesPage</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6DF4F420-035D-4B6B-8612-6B294FF68546</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>masp</string>
				<key>text</key>
				<string>Mac App Store Purchases</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F067D296-A1E4-4B5F-971D-C287A5D1BE6E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>masprefs</string>
				<key>runningsubtext</key>
				<string>Working...</string>
				<key>script</key>
				<string>./MASSearch -prefs: "{query}"</string>
				<key>subtext</key>
				<string>Open Mac App Store search preferences</string>
				<key>title</key>
				<string>MAS Search Preferences</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F8A7E0F1-2DF1-46A9-938D-4404E866BAE9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./MASSearch -prefs: "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D2860D99-CACD-440D-A62D-F0C9E4524214</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>2C399287-EF02-4BD6-9D60-BAAAFCE0BFC1</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>32715625-6073-4C95-B221-28AD342856F5</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>45DFC250-9FFB-4B5C-8D4C-5DD41F64E172</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>6DF4F420-035D-4B6B-8612-6B294FF68546</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>8480B199-F2C9-4794-ADE5-790D62864FB0</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9F29BF29-32F5-4646-8F7B-043D35574CD2</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>B006C7A4-F892-4A87-ACE7-40E351351DAB</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>C7B0FC14-B1E8-441B-B391-0607FDB8429B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>D2860D99-CACD-440D-A62D-F0C9E4524214</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>F067D296-A1E4-4B5F-971D-C287A5D1BE6E</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>F8A7E0F1-2DF1-46A9-938D-4404E866BAE9</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
