<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.wordcounter</string>
	<key>connections</key>
	<dict>
		<key>7802ECD5-E51A-4EE0-BA3E-9809A8B30860</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E296C841-A3A1-4F08-832D-AAD8F32EE268</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Landon Owens</string>
	<key>description</key>
	<string>Ranks words from a string of text by most used descending</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Word Counter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E296C841-A3A1-4F08-832D-AAD8F32EE268</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>94</integer>
				<key>keyword</key>
				<string>wc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>....counting</string>
				<key>script</key>
				<string>$orig = "{query}";
$arr = explode(" ", $orig);
$rank = array_count_values($arr);
arsort($rank);
$result = [];
foreach ($rank as $val =&gt; $c) {
	$result['items'][] = [
		'type' 			=&gt; 'default',
		'subtitle'		=&gt; "$c times",
		'title'			=&gt; $val,
		'arg'			=&gt; $val,
		'autocomplete'	=&gt; $val
	];
}
echo json_encode($result);


</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Paste a string of text to count and rank</string>
				<key>title</key>
				<string>Word Counter</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7802ECD5-E51A-4EE0-BA3E-9809A8B30860</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This work flow is to help identify overused words in a paragraph or string of text. It simply ranks the words by most to least used.</string>
	<key>uidata</key>
	<dict>
		<key>7802ECD5-E51A-4EE0-BA3E-9809A8B30860</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>E296C841-A3A1-4F08-832D-AAD8F32EE268</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
