<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.lenoguo.browser.switcher</string>
	<key>connections</key>
	<dict>
		<key>00F4D88C-D51F-4E2C-B18A-7D2504AD2645</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2BAA097E-5FB6-44D9-A5DC-A51E84ABBC24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0E10CFAD-D800-4B28-86AE-54B839142E0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8B07D25C-57E0-4F2B-987B-6FAC1E568F99</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>11DBD6F1-98B8-48B3-80B4-85C6C6BFA363</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B987A353-8E08-40E0-8E1F-2741F88E76BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19AB4F95-88CC-4339-A0AC-B06764EAD8D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A59AFFD-51C4-4C4F-BCD4-7364893BAA03</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1FA2C9C4-419A-403D-8819-D8CF7F0B61B3</key>
		<array/>
		<key>202FEEB5-8796-4828-9C3D-6A8DFA276EC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AC77B3BC-E6BF-4DD1-81BB-0C6D5D8395B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BAA097E-5FB6-44D9-A5DC-A51E84ABBC24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11DBD6F1-98B8-48B3-80B4-85C6C6BFA363</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A59AFFD-51C4-4C4F-BCD4-7364893BAA03</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FA2C9C4-419A-403D-8819-D8CF7F0B61B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B07D25C-57E0-4F2B-987B-6FAC1E568F99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EF2C7278-AE04-4F43-BB55-C179309CCB42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>00F4D88C-D51F-4E2C-B18A-7D2504AD2645</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>202FEEB5-8796-4828-9C3D-6A8DFA276EC7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A773EF27-862B-44AE-9587-3704877D6EDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D63AC51-2A66-4747-836E-B559863E7798</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AC77B3BC-E6BF-4DD1-81BB-0C6D5D8395B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A773EF27-862B-44AE-9587-3704877D6EDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B987A353-8E08-40E0-8E1F-2741F88E76BF</key>
		<array/>
		<key>EF2C7278-AE04-4F43-BB55-C179309CCB42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19AB4F95-88CC-4339-A0AC-B06764EAD8D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>LeonGuo</string>
	<key>description</key>
	<string>把当前URL用另外的浏览器打开</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>B-浏览器切换</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1FA2C9C4-419A-403D-8819-D8CF7F0B61B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>function run() {
  var safari_app = Application("Safari")
  var url = safari_app.documents[0].url()
  return	 url
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>19AB4F95-88CC-4339-A0AC-B06764EAD8D5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>Safari</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>EF2C7278-AE04-4F43-BB55-C179309CCB42</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>8A59AFFD-51C4-4C4F-BCD4-7364893BAA03</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B987A353-8E08-40E0-8E1F-2741F88E76BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {
  var query = "{query}";
	const frontmost_app_name = Application('System Events').applicationProcesses.where({ frontmost: true }).name()[0]
	//const frontmost_app = Application(frontmost_app_name)
	return frontmost_app_name
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8B07D25C-57E0-4F2B-987B-6FAC1E568F99</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0E10CFAD-D800-4B28-86AE-54B839142E0E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {
  var chrome_app = Application("Google Chrome")
  var url = chrome_app.windows[0].activeTab.url()
  return	 url
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2BAA097E-5FB6-44D9-A5DC-A51E84ABBC24</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>Google Chrome</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>00F4D88C-D51F-4E2C-B18A-7D2504AD2645</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>11DBD6F1-98B8-48B3-80B4-85C6C6BFA363</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {
  var chrome_app = Application("Google Chrome")
  var url = chrome_app.windows[0].activeTab.url()
  return	 url
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AC77B3BC-E6BF-4DD1-81BB-0C6D5D8395B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6D63AC51-2A66-4747-836E-B559863E7798</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>A773EF27-862B-44AE-9587-3704877D6EDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>Google Chrome</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>202FEEB5-8796-4828-9C3D-6A8DFA276EC7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>00F4D88C-D51F-4E2C-B18A-7D2504AD2645</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>0E10CFAD-D800-4B28-86AE-54B839142E0E</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>11DBD6F1-98B8-48B3-80B4-85C6C6BFA363</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>19AB4F95-88CC-4339-A0AC-B06764EAD8D5</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>1FA2C9C4-419A-403D-8819-D8CF7F0B61B3</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>202FEEB5-8796-4828-9C3D-6A8DFA276EC7</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>2BAA097E-5FB6-44D9-A5DC-A51E84ABBC24</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>6D63AC51-2A66-4747-836E-B559863E7798</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>8A59AFFD-51C4-4C4F-BCD4-7364893BAA03</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>8B07D25C-57E0-4F2B-987B-6FAC1E568F99</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>A773EF27-862B-44AE-9587-3704877D6EDE</key>
		<dict>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>AC77B3BC-E6BF-4DD1-81BB-0C6D5D8395B6</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>B987A353-8E08-40E0-8E1F-2741F88E76BF</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>EF2C7278-AE04-4F43-BB55-C179309CCB42</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/skefy</string>
</dict>
</plist>
