<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xinhangliu.douban</string>
	<key>connections</key>
	<dict>
		<key>082ACC94-6D53-46E7-8F3C-4DCF4FDA2F7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F862F08-0A87-408D-B735-FA491D0A0D43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F8D18CF-A179-4D17-84CB-81354F42A4F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81D8F28C-1EF0-4A05-8D08-47365954C23D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D8BA376-134A-4E6C-987E-EE3B6FA679BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7D89CA9-6FCD-4296-92B9-0300F302E6D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6DE7BA83-61D9-4BC6-AD7A-2BEEB3C1662E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D8BA376-134A-4E6C-987E-EE3B6FA679BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8734231B-9ABE-400E-A1C6-87D2F0D767FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6DE7BA83-61D9-4BC6-AD7A-2BEEB3C1662E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2F8D18CF-A179-4D17-84CB-81354F42A4F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>082ACC94-6D53-46E7-8F3C-4DCF4FDA2F7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7D89CA9-6FCD-4296-92B9-0300F302E6D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FCBA84C4-057B-4F76-AA61-D7A74F1451B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>35ACA56A-51FE-4207-81B1-B0956142B324</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Xinhang Liu</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>douban</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>douban</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query="{query}"

/usr/bin/python selection.py "$query"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Douban Search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8734231B-9ABE-400E-A1C6-87D2F0D767FE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>quick</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait</string>
				<key>script</key>
				<string>query="{query}"

/usr/bin/python core.py "$query"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Douban quick search</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F7D89CA9-6FCD-4296-92B9-0300F302E6D2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>FCBA84C4-057B-4F76-AA61-D7A74F1451B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:selection}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>settings</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6DE7BA83-61D9-4BC6-AD7A-2BEEB3C1662E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:selection}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>douban</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5D8BA376-134A-4E6C-987E-EE3B6FA679BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/TextEdit.app</string>
				<key>sourcefile</key>
				<string>conf</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>81D8F28C-1EF0-4A05-8D08-47365954C23D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>35ACA56A-51FE-4207-81B1-B0956142B324</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:selection}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>settings</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2F8D18CF-A179-4D17-84CB-81354F42A4F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.douban.com/search?source=suggest&amp;q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>2F862F08-0A87-408D-B735-FA491D0A0D43</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:selection}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>douban</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>082ACC94-6D53-46E7-8F3C-4DCF4FDA2F7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>082ACC94-6D53-46E7-8F3C-4DCF4FDA2F7B</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>460</integer>
		</dict>
		<key>2F862F08-0A87-408D-B735-FA491D0A0D43</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>2F8D18CF-A179-4D17-84CB-81354F42A4F8</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>320</integer>
		</dict>
		<key>35ACA56A-51FE-4207-81B1-B0956142B324</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>5D8BA376-134A-4E6C-987E-EE3B6FA679BE</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>6DE7BA83-61D9-4BC6-AD7A-2BEEB3C1662E</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>81D8F28C-1EF0-4A05-8D08-47365954C23D</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>8734231B-9ABE-400E-A1C6-87D2F0D767FE</key>
		<dict>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>F7D89CA9-6FCD-4296-92B9-0300F302E6D2</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>FCBA84C4-057B-4F76-AA61-D7A74F1451B9</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
