<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bugaev.macos.dock.spacer</string>
	<key>connections</key>
	<dict>
		<key>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</key>
		<array/>
		<key>5931A337-6813-4F86-BF96-097A2A2FB174</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vladimir Bugaev</string>
	<key>description</key>
	<string>Adds spacers to Dock</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dock Spacer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>5931A337-6813-4F86-BF96-097A2A2FB174</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>defaults write com.apple.dock persistent-apps -array-add '{"tile-type"="spacer-tile";}'

killall Dock

killall Terminal</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>5931A337-6813-4F86-BF96-097A2A2FB174</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://t.me/Pptxman</string>
</dict>
</plist>
