<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kaihao.dictionary</string>
	<key>connections</key>
	<dict>
		<key>4593AAF9-F1A8-40D1-8B63-DF2F6929A148</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4FE9D198-E6F3-4955-916E-E5CEB36CC729</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E47D9B21-C264-4B7B-B059-93B2E2172C3B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>638014DA-A5D7-4565-AD30-ABAC8CC5C8E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Kaihao</string>
	<key>description</key>
	<string>快捷键取词与发音</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Dictionary</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E47D9B21-C264-4B7B-B059-93B2E2172C3B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"
word1="${query//\'/%27}"
word2="${word1// /%20}"
open dict://"$word2"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>638014DA-A5D7-4565-AD30-ABAC8CC5C8E7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"
char="${query::1}"
afplay ~/Voice/"$char"/"$query".wav</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4FE9D198-E6F3-4955-916E-E5CEB36CC729</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4593AAF9-F1A8-40D1-8B63-DF2F6929A148</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>实现快捷键取词与发音的功能，快捷键请自行设置。
发音功能需下载韦氏142000单词发音库，详见http://kaihao.io/2018/mdict-to-macos-dictionary/
发音库如果不在~/Voice，则需修改Bash Script中的路径名。</string>
	<key>uidata</key>
	<dict>
		<key>4593AAF9-F1A8-40D1-8B63-DF2F6929A148</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>4FE9D198-E6F3-4955-916E-E5CEB36CC729</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>638014DA-A5D7-4565-AD30-ABAC8CC5C8E7</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>E47D9B21-C264-4B7B-B059-93B2E2172C3B</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://kaihao.io/</string>
</dict>
</plist>
