<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.suliveevil.BAB_ScreenShot</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>58B0B2B7-AF18-4685-9147-9D4542664657</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A28A4D8-DC4C-4940-B7C0-8AD6AE1E3E93</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>suliveevil</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BAB-ScreenShot</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ss</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>BAB ScreenShot</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>58B0B2B7-AF18-4685-9147-9D4542664657</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>screencapture -T 5 ~/Desktop/5s.png</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A28A4D8-DC4C-4940-B7C0-8AD6AE1E3E93</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>58B0B2B7-AF18-4685-9147-9D4542664657</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>6A28A4D8-DC4C-4940-B7C0-8AD6AE1E3E93</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>suliveevil.github.io</string>
</dict>
</plist>
