<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.latex-md</string>
	<key>connections</key>
	<dict>
		<key>11DB1A4E-54D2-49C7-9BC8-054D741DE771</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D3217BD-1401-40E3-ADEC-FDA89B0FE5A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>24E1F12C-B301-42A7-91FC-196F077D2FA1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5CD3E559-1313-4AED-BAC3-8CEBE43E4B44</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D8E17892-F776-4A88-A2E5-D677D8CB4068</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>17C41B4F-4966-4A3D-9860-A3B3AF2A20A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29ECDAE2-98A2-4B46-A95F-38DD3BF37E1B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9813CDF2-3B90-48EF-863E-4768253E6110</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9A046A2F-3429-47BF-9EA2-0AF0603B1650</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D7452E5-6D47-407D-A699-E8CC9849113D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29ECDAE2-98A2-4B46-A95F-38DD3BF37E1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B9594D2-C20D-42FD-BB7A-FEC057F49F23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24E1F12C-B301-42A7-91FC-196F077D2FA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5CD3E559-1313-4AED-BAC3-8CEBE43E4B44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>720A0B0E-912F-478A-A50F-A5F36E0E9568</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D7452E5-6D47-407D-A699-E8CC9849113D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C007BDA-6340-40F1-81AE-DCE4543E10F8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9AF3533-981A-4C10-A39B-39227B27B726</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D3217BD-1401-40E3-ADEC-FDA89B0FE5A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D62EF3D4-28F4-4A6F-B315-0B3DDDAE6B11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9813CDF2-3B90-48EF-863E-4768253E6110</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F64E5A3C-15D7-4015-9480-CB30116F5439</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A046A2F-3429-47BF-9EA2-0AF0603B1650</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B9594D2-C20D-42FD-BB7A-FEC057F49F23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1B07D02-07D7-4C4F-B47A-09832F2C9875</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>11DB1A4E-54D2-49C7-9BC8-054D741DE771</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9AF3533-981A-4C10-A39B-39227B27B726</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>720A0B0E-912F-478A-A50F-A5F36E0E9568</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BEF82A05-D62B-4A93-B2C5-B76247717387</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D7452E5-6D47-407D-A699-E8CC9849113D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D62EF3D4-28F4-4A6F-B315-0B3DDDAE6B11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BEF82A05-D62B-4A93-B2C5-B76247717387</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8C007BDA-6340-40F1-81AE-DCE4543E10F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D8E17892-F776-4A88-A2E5-D677D8CB4068</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F225A3BF-FDB4-405E-9D40-9D2FAA983DE4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FD1F5BB6-BD85-41DD-8E87-C4D5D823A4C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F64E5A3C-15D7-4015-9480-CB30116F5439</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>24E1F12C-B301-42A7-91FC-196F077D2FA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>Quickly convert Markdown to LaTeX or vice versa from your clipboard with Pandoc.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LaTeX ⟷ MD</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"b0ecd7416cb129d0ca4d5a3addfaee1ad1aee479.png","title":"md -&gt; LaTeX","arg":"md","subtitle":"md to tex"},{"imagefile":"ba65ea31bf37e4f7f0c0da2e462645fd0837fc35.png","title":"LaTeX -&gt; md","arg":"tex","subtitle":"tex to md"}]</string>
				<key>keyword</key>
				<string>cv</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Choose Export File Type</string>
				<key>title</key>
				<string>Convert MD &lt;-&gt; LaTeX</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>A1B07D02-07D7-4C4F-B47A-09832F2C9875</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"imagefile":"0110970e9b35dec7763c58720bcacea3c4205fc2.png","title":"Desktop","arg":"~\/Desktop","subtitle":"~\/Desktop"},{"imagefile":"0110970e9b35dec7763c58720bcacea3c4205fc2.png","title":"Documents","arg":"~\/Documents","subtitle":"~\/Documents"},{"imagefile":"e518376e3ceb02b7c1c3eec533b6b286e3e7ab2d.png","title":"Browse for Folder","arg":"browse"}]</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Choose a location for the file</string>
				<key>title</key>
				<string>Located in</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>8D3217BD-1401-40E3-ADEC-FDA89B0FE5A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D62EF3D4-28F4-4A6F-B315-0B3DDDAE6B11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>type</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>11DB1A4E-54D2-49C7-9BC8-054D741DE771</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:path}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>browse</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>BEF82A05-D62B-4A93-B2C5-B76247717387</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:type}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>md</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9813CDF2-3B90-48EF-863E-4768253E6110</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n | pbpaste</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4D7452E5-6D47-407D-A699-E8CC9849113D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>altType</key>
					<string>tex</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F64E5A3C-15D7-4015-9480-CB30116F5439</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd {var:path}
pandoc --wrap=preserve -s {var:type}to{var:altType}.{var:type} -o {var:altType}out.{var:altType}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} -&gt; {var:altType}output.{var:altType}</string>
				<key>title</key>
				<string>Conversion</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D8E17892-F776-4A88-A2E5-D677D8CB4068</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>F225A3BF-FDB4-405E-9D40-9D2FAA983DE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:path}/{var:type}to{var:altType}.{var:type}</string>
				<key>filetext</key>
				<string>{var:contents}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>24E1F12C-B301-42A7-91FC-196F077D2FA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>contents</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>29ECDAE2-98A2-4B46-A95F-38DD3BF37E1B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>5CD3E559-1313-4AED-BAC3-8CEBE43E4B44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Located In</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>B9AF3533-981A-4C10-A39B-39227B27B726</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:type}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>tex</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9A046A2F-3429-47BF-9EA2-0AF0603B1650</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>altType</key>
					<string>md</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5B9594D2-C20D-42FD-BB7A-FEC057F49F23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>720A0B0E-912F-478A-A50F-A5F36E0E9568</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:path}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>browse</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>8C007BDA-6340-40F1-81AE-DCE4543E10F8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:altType}out.{var:altType}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>FD1F5BB6-BD85-41DD-8E87-C4D5D823A4C8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Pop</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>17C41B4F-4966-4A3D-9860-A3B3AF2A20A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A simple routine to convert markdown to LateX from your clipboard or vice versa. The workflow creates either a *.md or *.tex file relative to your input and at the location you choose. The file is converted with Pandoc by calling it from the terminal. The converted file subsequently gets output at the same place. Existing files will be overwritten.

Pandoc is key and has to be installed:  

	$ brew install pandoc

More information: https://pandoc.org/</string>
	<key>uidata</key>
	<dict>
		<key>11DB1A4E-54D2-49C7-9BC8-054D741DE771</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>17C41B4F-4966-4A3D-9860-A3B3AF2A20A3</key>
		<dict>
			<key>xpos</key>
			<integer>1650</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>24E1F12C-B301-42A7-91FC-196F077D2FA1</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Creates the md-file with the initial contents from the clipboard</string>
			<key>xpos</key>
			<integer>1220</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>26DA2609-8A71-4F58-B9BF-DFD55318CC6D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>note</key>
			<string>Markdown -&gt; LaTeX via Pandoc</string>
			<key>xpos</key>
			<integer>1420</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>29ECDAE2-98A2-4B46-A95F-38DD3BF37E1B</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>4D7452E5-6D47-407D-A699-E8CC9849113D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>5B9594D2-C20D-42FD-BB7A-FEC057F49F23</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>5CD3E559-1313-4AED-BAC3-8CEBE43E4B44</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>1360</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>720A0B0E-912F-478A-A50F-A5F36E0E9568</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>8C007BDA-6340-40F1-81AE-DCE4543E10F8</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>8D3217BD-1401-40E3-ADEC-FDA89B0FE5A6</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>gets the destination for the files

make sure the folder name contains no whitespace. E.g., "mdToLatex" instead of "md to latex"</string>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>9813CDF2-3B90-48EF-863E-4768253E6110</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>9A046A2F-3429-47BF-9EA2-0AF0603B1650</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>1060</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>A1B07D02-07D7-4C4F-B47A-09832F2C9875</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>gets file type parameter "md" or "tex"</string>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>B9AF3533-981A-4C10-A39B-39227B27B726</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>gets the non-default destination for the files</string>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>BEF82A05-D62B-4A93-B2C5-B76247717387</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>D62EF3D4-28F4-4A6F-B315-0B3DDDAE6B11</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>D8E17892-F776-4A88-A2E5-D677D8CB4068</key>
		<dict>
			<key>xpos</key>
			<integer>1650</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>F225A3BF-FDB4-405E-9D40-9D2FAA983DE4</key>
		<dict>
			<key>note</key>
			<string>reveal the file created from original input in finder, e.g. to delete it.

Alternatively, you can append the following to the Terminal Command

$ rm -f {var:type}to{var:altType}.{var:type}

This (forcefully -f) removes the file to the trash bin. Mutatis mutandis, the same can be done with the output file.</string>
			<key>xpos</key>
			<integer>1830</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>F64E5A3C-15D7-4015-9480-CB30116F5439</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>FD1F5BB6-BD85-41DD-8E87-C4D5D823A4C8</key>
		<dict>
			<key>note</key>
			<string>Opens the created conversion file in your default app. Alternatively, append the following to the Terminal Command

$ cat {var:altType}out.{var:altType}

This shows the contents of the file directly within the Terminal window for quick copying and pasting.</string>
			<key>xpos</key>
			<integer>1970</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings</string>
</dict>
</plist>
