<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0977AA25-D3CE-4F8A-B4B5-65467F83E4E0</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gs</string>
			<key>text</key>
			<string>Github Search</string>
			<key>url</key>
			<string>https://www.github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>13A4A8A5-43DC-4D8A-8E72-EAC8CFD17010</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bk</string>
			<key>text</key>
			<string>百度 百科</string>
			<key>url</key>
			<string>https://baike.baidu.com/search?word={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>13C08CB8-12A3-442E-91EF-0466C492FFA1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wf</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Alfred Workflow Search</string>
			<key>url</key>
			<string>http://www.packal.org/workflow-search?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>1B25497B-14CB-4910-A722-318380499DC1</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>aicon</string>
			<key>text</key>
			<string>阿里巴巴图标库</string>
			<key>url</key>
			<string>https://www.iconfont.cn/search/index?searchType=icon&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>39010678-0E28-4247-BAE0-9626FF3B637A</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>zhi</string>
			<key>text</key>
			<string>知乎</string>
			<key>url</key>
			<string>https://www.zhihu.com/search?type=content&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>4E557278-48BD-4885-ADD6-34A9ADBD44B6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>amap</string>
			<key>text</key>
			<string>高德地图</string>
			<key>url</key>
			<string>https://www.amap.com/search?query={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>608107B3-75E1-4D6A-B082-4583B3AED42D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>GitHub Search</string>
			<key>url</key>
			<string>https://www.github.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>8D26F07F-827F-42A5-AC5E-DD67F41A2C7B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>百度</string>
			<key>url</key>
			<string>https://www.baidu.com/s?wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>935FBDDC-9333-4908-9C21-942A98CA0364</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>redd</string>
			<key>text</key>
			<string>Reddit</string>
			<key>url</key>
			<string>https://www.reddit.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C47469A1-DDED-4528-9D2E-97A4179BCA3F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>app</string>
			<key>text</key>
			<string>AppShopper</string>
			<key>url</key>
			<string>http://appshopper.com/search?search={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CE36B5D2-C0F7-467A-916C-CA1ED70C0B38</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>淘宝</string>
			<key>url</key>
			<string>https://s.taobao.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>E85BD2FD-7FD0-48BF-92BF-E4AB212AA5AB</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bmap</string>
			<key>text</key>
			<string>百度地图</string>
			<key>url</key>
			<string>http://map.baidu.com</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>FE904D70-ACBD-455B-B945-948CB4C430B9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>st</string>
			<key>text</key>
			<string>StackOverFlow</string>
			<key>url</key>
			<string>http://stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
