<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.chintanbuch.alfred.agecalculator</string>
	<key>connections</key>
	<dict>
		<key>A331543B-0241-444F-980D-DBE5F4272363</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7FF1986-08BE-4F66-83E2-38A4EA0DB4A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1924E23-D55E-411E-BAAB-0A2BE2E5F3AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A331543B-0241-444F-980D-DBE5F4272363</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7E99F76-6A0F-4604-82D5-B4E095704E26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1924E23-D55E-411E-BAAB-0A2BE2E5F3AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7FF1986-08BE-4F66-83E2-38A4EA0DB4A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>293A52BF-A093-4B31-8AF2-128634F9622F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chintan Buch</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Age Calculator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python age.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D1924E23-D55E-411E-BAAB-0A2BE2E5F3AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>age</string>
				<key>subtext</key>
				<string>Input in "dd mm yyyy"</string>
				<key>text</key>
				<string>Calculate Age</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D7E99F76-6A0F-4604-82D5-B4E095704E26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>largetypetext</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>A331543B-0241-444F-980D-DBE5F4272363</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>F7FF1986-08BE-4F66-83E2-38A4EA0DB4A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>293A52BF-A093-4B31-8AF2-128634F9622F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>293A52BF-A093-4B31-8AF2-128634F9622F</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>A331543B-0241-444F-980D-DBE5F4272363</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>D1924E23-D55E-411E-BAAB-0A2BE2E5F3AD</key>
		<dict>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>D7E99F76-6A0F-4604-82D5-B4E095704E26</key>
		<dict>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>F7FF1986-08BE-4F66-83E2-38A4EA0DB4A0</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://chintanbuch.com</string>
</dict>
</plist>
