<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1F851747-555D-4580-A5D5-59E917DA6DBA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42BCAB19-E726-4317-AFC8-6437F3871691</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F8EADE5-30F7-4565-8F14-23FF5099A919</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E4EEED17-080A-4CA1-ABC7-60B41226148E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46FD7AF1-E75F-46C1-B837-741087B9257D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F851747-555D-4580-A5D5-59E917DA6DBA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8D15859F-0037-4E15-9379-618DEE60B81B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1DC1131-D3C4-4672-BF96-8BA0E8EE8287</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BFE9FCC5-62F9-4E59-B6CF-8EF2E2A8A4EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>87FA4908-8271-4BD0-B4EA-BF7220A60EC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7F74C36C-28F2-41BA-891C-3B9C6320F03C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59EF77BB-2E2F-4AFF-8C40-849B1D6EE180</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0C23137-8CC3-4B63-AA48-CBFC884FD51B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6116D571-E7F0-45B7-8F72-993AB28FF958</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>971A7F6F-D6A7-4BF6-AF0D-E177A1D46F86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F74C36C-28F2-41BA-891C-3B9C6320F03C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AB0F381-DED4-40EA-82D4-F24A166A7BB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>87FA4908-8271-4BD0-B4EA-BF7220A60EC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F8EADE5-30F7-4565-8F14-23FF5099A919</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D15859F-0037-4E15-9379-618DEE60B81B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AED1E119-00D3-43C0-985B-5EA1E28D2C6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>971A7F6F-D6A7-4BF6-AF0D-E177A1D46F86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46EB2209-3F46-4151-BDAB-E20997DDA7AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9AE62A64-3F4F-46BF-8598-55356BFDB85E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1293E3CC-B46E-40DE-9C27-FDBD91E8E354</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AED1E119-00D3-43C0-985B-5EA1E28D2C6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>59EF77BB-2E2F-4AFF-8C40-849B1D6EE180</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFE9FCC5-62F9-4E59-B6CF-8EF2E2A8A4EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>109AFC47-F93F-4254-AC4C-EF13346E2B78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E4EEED17-080A-4CA1-ABC7-60B41226148E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6116D571-E7F0-45B7-8F72-993AB28FF958</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0C23137-8CC3-4B63-AA48-CBFC884FD51B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9AE62A64-3F4F-46BF-8598-55356BFDB85E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1DC1131-D3C4-4672-BF96-8BA0E8EE8287</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8933D98B-8B29-443D-AD6E-98530B479995</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>仿LaunchBar</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Send To</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.baidu.com/s?wd={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>42BCAB19-E726-4317-AFC8-6437F3871691</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>s</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1F851747-555D-4580-A5D5-59E917DA6DBA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1293E3CC-B46E-40DE-9C27-FDBD91E8E354</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {
  var chrome_app = Application("Google Chrome")
  var url = chrome_app.windows[0].activeTab.url()
  return	 url
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F0C23137-8CC3-4B63-AA48-CBFC884FD51B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {
  var query = "{query}";
	const frontmost_app_name = Application('System Events').applicationProcesses.where({ frontmost: true }).name()[0]
	//const frontmost_app = Application(frontmost_app_name)
	return frontmost_app_name
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AED1E119-00D3-43C0-985B-5EA1E28D2C6B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>fx</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open in FireFox</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8D15859F-0037-4E15-9379-618DEE60B81B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>9AE62A64-3F4F-46BF-8598-55356BFDB85E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>Google Chrome</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>59EF77BB-2E2F-4AFF-8C40-849B1D6EE180</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>-1</integer>
				<key>hotmod</key>
				<integer>131072</integer>
				<key>hotstring</key>
				<string>double tap</string>
				<key>leftcursor</key>
				<true/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>46FD7AF1-E75F-46C1-B837-741087B9257D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ff</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>FireFox</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F1DC1131-D3C4-4672-BF96-8BA0E8EE8287</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>org.mozilla.firefox</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8933D98B-8B29-443D-AD6E-98530B479995</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ch</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Chrome</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BFE9FCC5-62F9-4E59-B6CF-8EF2E2A8A4EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>109AFC47-F93F-4254-AC4C-EF13346E2B78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>46EB2209-3F46-4151-BDAB-E20997DDA7AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>function run() {
  var safari_app = Application("Safari")
  var url = safari_app.documents[0].url()
  return	 url
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6116D571-E7F0-45B7-8F72-993AB28FF958</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>function run() {
  var query = "{query}";
	const frontmost_app_name = Application('System Events').applicationProcesses.where({ frontmost: true }).name()[0]
	//const frontmost_app = Application(frontmost_app_name)
	return frontmost_app_name
}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3F8EADE5-30F7-4565-8F14-23FF5099A919</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>c</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open in Chrome</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>87FA4908-8271-4BD0-B4EA-BF7220A60EC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>Safari</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>E4EEED17-080A-4CA1-ABC7-60B41226148E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>971A7F6F-D6A7-4BF6-AF0D-E177A1D46F86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ls</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Language Switcher</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7F74C36C-28F2-41BA-891C-3B9C6320F03C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Language Switcher.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>8AB0F381-DED4-40EA-82D4-F24A166A7BB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>109AFC47-F93F-4254-AC4C-EF13346E2B78</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>1293E3CC-B46E-40DE-9C27-FDBD91E8E354</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>1F851747-555D-4580-A5D5-59E917DA6DBA</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>3F8EADE5-30F7-4565-8F14-23FF5099A919</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>42BCAB19-E726-4317-AFC8-6437F3871691</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>46EB2209-3F46-4151-BDAB-E20997DDA7AA</key>
		<dict>
			<key>xpos</key>
			<integer>980</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>46FD7AF1-E75F-46C1-B837-741087B9257D</key>
		<dict>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>59EF77BB-2E2F-4AFF-8C40-849B1D6EE180</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>6116D571-E7F0-45B7-8F72-993AB28FF958</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>7F74C36C-28F2-41BA-891C-3B9C6320F03C</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>87FA4908-8271-4BD0-B4EA-BF7220A60EC1</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>8933D98B-8B29-443D-AD6E-98530B479995</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>8AB0F381-DED4-40EA-82D4-F24A166A7BB7</key>
		<dict>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>8D15859F-0037-4E15-9379-618DEE60B81B</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>971A7F6F-D6A7-4BF6-AF0D-E177A1D46F86</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>9AE62A64-3F4F-46BF-8598-55356BFDB85E</key>
		<dict>
			<key>xpos</key>
			<integer>870</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>AED1E119-00D3-43C0-985B-5EA1E28D2C6B</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>BFE9FCC5-62F9-4E59-B6CF-8EF2E2A8A4EF</key>
		<dict>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>E4EEED17-080A-4CA1-ABC7-60B41226148E</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>570</integer>
		</dict>
		<key>F0C23137-8CC3-4B63-AA48-CBFC884FD51B</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>F1DC1131-D3C4-4672-BF96-8BA0E8EE8287</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
