<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.suliveevil.OnlineTools</string>
	<key>connections</key>
	<dict>
		<key>067B087D-467B-4EA1-BD36-3C51590D89C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7639399C-E4D6-44AF-926A-04A69F080B97</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F68AD5B-6080-4B33-B49D-2FC0A59824C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5DF292D6-FCB3-4641-A38C-F501D5BA0A51</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19504AFA-6832-4D73-99FB-2597D6155A17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBA0E997-6F9E-4A1D-BF0E-D3D5B63BEF1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B6AE56AE-D77E-45E7-B2E5-B204E663FCF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F182A827-D487-45DC-A3C3-25AA6F3C3B1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20421932-2882-4EDC-9821-8FA3858F88F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E62D8F73-8227-45D8-9E37-F78BACAC4342</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>329BA890-4B35-40F4-B9AB-BE9751D6072E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>823193A2-68FB-4DCB-80C9-9A0E8D8625A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6013D06C-1B1D-4672-85BC-53E587FACEA3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8FC7FCE-7134-4721-9BCD-7CAF68221155</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>329BA890-4B35-40F4-B9AB-BE9751D6072E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B49BB261-F3E1-44CF-8C8D-F5D1DE4D7AEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09CC9BF0-5B81-4F59-8552-12D51BB47969</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6AE56AE-D77E-45E7-B2E5-B204E663FCF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA2F23E9-405F-4A4C-BB0A-BA43AADE06BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B720116E-68D5-422D-B421-5030097C2542</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAA83329-73CF-49AA-B605-9C4224BF4EA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C27295A4-5B3B-4B60-8954-C645172B6326</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F68AD5B-6080-4B33-B49D-2FC0A59824C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>067B087D-467B-4EA1-BD36-3C51590D89C3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B49BB261-F3E1-44CF-8C8D-F5D1DE4D7AEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B720116E-68D5-422D-B421-5030097C2542</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBA0E997-6F9E-4A1D-BF0E-D3D5B63BEF1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20421932-2882-4EDC-9821-8FA3858F88F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8FC7FCE-7134-4721-9BCD-7CAF68221155</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58B7DC99-B9B0-43CD-A380-2FF626BB76FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F182A827-D487-45DC-A3C3-25AA6F3C3B1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5739FD84-36B5-427C-BB82-B4D17147CA2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>suliveevil</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Online Tools</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://bigjpg.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>E62D8F73-8227-45D8-9E37-F78BACAC4342</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>big</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Tools OSChina</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CBA0E997-6F9E-4A1D-BF0E-D3D5B63BEF1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>big</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>20421932-2882-4EDC-9821-8FA3858F88F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>19504AFA-6832-4D73-99FB-2597D6155A17</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ps</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>818ps.com</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B6AE56AE-D77E-45E7-B2E5-B204E663FCF1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://818ps.com/</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CA2F23E9-405F-4A4C-BB0A-BA43AADE06BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tu</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>ProcessOn</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F182A827-D487-45DC-A3C3-25AA6F3C3B1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.processon.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5739FD84-36B5-427C-BB82-B4D17147CA2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://uzer.me</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>58B7DC99-B9B0-43CD-A380-2FF626BB76FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>uz</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>uzer.me</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E8FC7FCE-7134-4721-9BCD-7CAF68221155</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6013D06C-1B1D-4672-85BC-53E587FACEA3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>office</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Office 格式转换</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>329BA890-4B35-40F4-B9AB-BE9751D6072E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.office-converter.com</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>823193A2-68FB-4DCB-80C9-9A0E8D8625A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tool</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>nicetool</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0F68AD5B-6080-4B33-B49D-2FC0A59824C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://www.nicetool.net</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5DF292D6-FCB3-4641-A38C-F501D5BA0A51</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C27295A4-5B3B-4B60-8954-C645172B6326</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>osc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>OSChina</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>067B087D-467B-4EA1-BD36-3C51590D89C3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.apple.Safari</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://tool.oschina.net</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7639399C-E4D6-44AF-926A-04A69F080B97</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://123.w3cschool.cn/webtools</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>09CC9BF0-5B81-4F59-8552-12D51BB47969</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>web</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>webtool</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B49BB261-F3E1-44CF-8C8D-F5D1DE4D7AEC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.chuangkit.com/designtools/startdesign</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>EAA83329-73CF-49AA-B605-9C4224BF4EA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>design</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>创客贴</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B720116E-68D5-422D-B421-5030097C2542</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>067B087D-467B-4EA1-BD36-3C51590D89C3</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>09CC9BF0-5B81-4F59-8552-12D51BB47969</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>1090</integer>
		</dict>
		<key>0F68AD5B-6080-4B33-B49D-2FC0A59824C6</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>19504AFA-6832-4D73-99FB-2597D6155A17</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>20421932-2882-4EDC-9821-8FA3858F88F3</key>
		<dict>
			<key>note</key>
			<string>放大图片</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>329BA890-4B35-40F4-B9AB-BE9751D6072E</key>
		<dict>
			<key>xpos</key>
			<integer>480</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>5739FD84-36B5-427C-BB82-B4D17147CA2C</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>58B7DC99-B9B0-43CD-A380-2FF626BB76FA</key>
		<dict>
			<key>xpos</key>
			<integer>940</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>5DF292D6-FCB3-4641-A38C-F501D5BA0A51</key>
		<dict>
			<key>note</key>
			<string>在线工具集合</string>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>6013D06C-1B1D-4672-85BC-53E587FACEA3</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>7639399C-E4D6-44AF-926A-04A69F080B97</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>823193A2-68FB-4DCB-80C9-9A0E8D8625A7</key>
		<dict>
			<key>xpos</key>
			<integer>950</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>B49BB261-F3E1-44CF-8C8D-F5D1DE4D7AEC</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>1090</integer>
		</dict>
		<key>B6AE56AE-D77E-45E7-B2E5-B204E663FCF1</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>B720116E-68D5-422D-B421-5030097C2542</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>1230</integer>
		</dict>
		<key>C27295A4-5B3B-4B60-8954-C645172B6326</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>930</integer>
		</dict>
		<key>CA2F23E9-405F-4A4C-BB0A-BA43AADE06BB</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>CBA0E997-6F9E-4A1D-BF0E-D3D5B63BEF1D</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>E62D8F73-8227-45D8-9E37-F78BACAC4342</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>E8FC7FCE-7134-4721-9BCD-7CAF68221155</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>EAA83329-73CF-49AA-B605-9C4224BF4EA8</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>1230</integer>
		</dict>
		<key>F182A827-D487-45DC-A3C3-25AA6F3C3B1A</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://www.github.com/suliveevil</string>
</dict>
</plist>
