<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.joonaspaakko.syscommands</string>
	<key>connections</key>
	<dict>
		<key>00637B4B-C4E9-487B-B4CD-A7EAD48147CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B683D75B-F989-45E2-8860-FC5E1192E5B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>01C9018E-ECA3-4F8F-A72A-D5912F969BB0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0E16629-6269-451F-9EF5-31A1730E3747</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>029A3B1A-E7EF-4B63-94B9-AE5CCF78EB44</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0D27307-89FF-495D-A874-F40D172F2F1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>06E76615-1487-40A6-9356-94EB8A129D88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00637B4B-C4E9-487B-B4CD-A7EAD48147CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>07791A66-B245-4144-AC70-088D470C7890</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D5E80AA-C646-49FD-BBE7-57179F625C1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0A95D085-F786-4D9F-B311-446958307F92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3113D8EE-A05A-4894-ACE6-3C9BD29F3DDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>16D8FEF7-4203-4ACB-8395-65E7F3A14104</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93A96678-25C2-4293-B799-0DC6E9C15231</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C8CB8E9-5D6A-4D5D-8C58-544886C3BD90</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0D27307-89FF-495D-A874-F40D172F2F1D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AA8F8BC-F04B-451B-881C-BB4E301DCAFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D25036F0-FC8C-4489-9EF0-0CB592BCB553</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3113D8EE-A05A-4894-ACE6-3C9BD29F3DDE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F1B4D4C-8F04-4659-A082-15E4D2E109D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3189ED1C-E819-4479-AD7F-0B4F15211B63</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D27E45F3-A4B8-47A2-859D-73C5FAB9417F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>373444A5-6B9A-4F0E-9C52-1998E878F010</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF673225-0050-4C23-A345-6B5ACF96ACD4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>40B8A539-72EC-401E-BA9A-4E6191841E08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C8CB8E9-5D6A-4D5D-8C58-544886C3BD90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>410F1932-DC12-4C9B-86F9-7040FEC6D0A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AEA1F50-852C-43A4-9AE0-AE29E6C27783</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>449A778B-E09E-4BAB-A9E9-F895FD1FD7F7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C390299-D28C-4101-8177-3533F04D901A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45EED7AA-E030-4DF2-8C72-1D48BF6567D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>410F1932-DC12-4C9B-86F9-7040FEC6D0A7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Confirm...</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FF3CD26E-83BF-43FF-8ECC-954E2BA4E13A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4F1B4D4C-8F04-4659-A082-15E4D2E109D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D26B055A-96D5-4C81-AB29-D37C702618A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5826E876-45A1-45BF-8A38-47EBE766C2C9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06E76615-1487-40A6-9356-94EB8A129D88</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AEA1F50-852C-43A4-9AE0-AE29E6C27783</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8420A6A-9676-451A-A938-ABB0EE83E602</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6473B2CE-66D4-4E19-B55C-4805C87F25A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C1480BA-1349-4B3F-8C09-A02ECFB3A04A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69F4E079-605B-4E6B-A1FB-76F01C7ECDE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AA8F8BC-F04B-451B-881C-BB4E301DCAFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>758706E8-9F1C-4591-8102-0D0DFA593C25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD1A6549-674A-4C81-B077-124612F3D1B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7B3DE571-9A9D-4CFD-9BA0-2A02C532B605</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3BE8EC98-C510-4B30-BB25-83198E6F4C07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8A7ECB5A-31F9-4959-9B04-7CF619336DD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>373444A5-6B9A-4F0E-9C52-1998E878F010</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93A96678-25C2-4293-B799-0DC6E9C15231</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8420A6A-9676-451A-A938-ABB0EE83E602</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A43625B-8B42-4E30-B37C-1B58F0E56F66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5826E876-45A1-45BF-8A38-47EBE766C2C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C1480BA-1349-4B3F-8C09-A02ECFB3A04A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7B3DE571-9A9D-4CFD-9BA0-2A02C532B605</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D5E80AA-C646-49FD-BBE7-57179F625C1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>410F1932-DC12-4C9B-86F9-7040FEC6D0A7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AFF1F0BE-C061-49A5-B6D3-EAD8AA5880A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F1B4D4C-8F04-4659-A082-15E4D2E109D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B683D75B-F989-45E2-8860-FC5E1192E5B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8420A6A-9676-451A-A938-ABB0EE83E602</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BF5DC2DB-8AF7-477A-B8BE-E21399A24264</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07791A66-B245-4144-AC70-088D470C7890</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBC69E16-AE55-4662-838D-3DAD9B94F0D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D25036F0-FC8C-4489-9EF0-0CB592BCB553</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Confirm...</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>16D8FEF7-4203-4ACB-8395-65E7F3A14104</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDD11843-2BF5-4126-BD29-DAED2926D797</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7E1DC96-09A7-485B-AA99-4E286BD2D963</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0D27307-89FF-495D-A874-F40D172F2F1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF3CD26E-83BF-43FF-8ECC-954E2BA4E13A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D22AD911-E47C-49B8-9B09-B2F37AE51E08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>449A778B-E09E-4BAB-A9E9-F895FD1FD7F7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D25036F0-FC8C-4489-9EF0-0CB592BCB553</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>93A96678-25C2-4293-B799-0DC6E9C15231</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D26B055A-96D5-4C81-AB29-D37C702618A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B683D75B-F989-45E2-8860-FC5E1192E5B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D27E45F3-A4B8-47A2-859D-73C5FAB9417F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D22AD911-E47C-49B8-9B09-B2F37AE51E08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2E6F6D5-E05A-4647-BDD3-E9FE7007B5EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C390299-D28C-4101-8177-3533F04D901A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7E1DC96-09A7-485B-AA99-4E286BD2D963</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0E16629-6269-451F-9EF5-31A1730E3747</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D866DA1D-5E55-49F2-AF16-AB9C87C22355</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>00637B4B-C4E9-487B-B4CD-A7EAD48147CA</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Confirm...</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D26B055A-96D5-4C81-AB29-D37C702618A2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD1A6549-674A-4C81-B077-124612F3D1B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D27E45F3-A4B8-47A2-859D-73C5FAB9417F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E35B6A65-054A-414C-9AAB-BD5BDCD5F3CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>69F4E079-605B-4E6B-A1FB-76F01C7ECDE6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8420A6A-9676-451A-A938-ABB0EE83E602</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6473B2CE-66D4-4E19-B55C-4805C87F25A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0E16629-6269-451F-9EF5-31A1730E3747</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16D8FEF7-4203-4ACB-8395-65E7F3A14104</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCE9FAAF-1FD1-4E27-817E-0C7640FBB1B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF673225-0050-4C23-A345-6B5ACF96ACD4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Confirm...</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D22AD911-E47C-49B8-9B09-B2F37AE51E08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF3CD26E-83BF-43FF-8ECC-954E2BA4E13A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5AEA1F50-852C-43A4-9AE0-AE29E6C27783</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FF673225-0050-4C23-A345-6B5ACF96ACD4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D2E6F6D5-E05A-4647-BDD3-E9FE7007B5EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFB20CDE-5B23-4DFA-B5DD-D7DA182953CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A7ECB5A-31F9-4959-9B04-7CF619336DD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joonas Pääkkö</string>
	<key>description</key>
	<string>System Commands that honor "Reopen windows when logging back in" option.</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>System Commands</string>
	<key>objects</key>
	<array>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>5826E876-45A1-45BF-8A38-47EBE766C2C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>06E76615-1487-40A6-9356-94EB8A129D88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>modifier</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>00637B4B-C4E9-487B-B4CD-A7EAD48147CA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>count</key>
				<integer>1</integer>
				<key>keychar</key>
				<string>↩</string>
				<key>keycode</key>
				<integer>36</integer>
				<key>keymod</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.dispatchkeycombo</string>
			<key>uid</key>
			<string>3BE8EC98-C510-4B30-BB25-83198E6F4C07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell app "loginwindow" to «event aevtrrst»</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B683D75B-F989-45E2-8860-FC5E1192E5B4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>activate application "loginwindow"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6473B2CE-66D4-4E19-B55C-4805C87F25A3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0A95D085-F786-4D9F-B311-446958307F92</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>Restart</string>
				<key>triggername</key>
				<string>Restart</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>AFF1F0BE-C061-49A5-B6D3-EAD8AA5880A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>restart</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Restart</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D866DA1D-5E55-49F2-AF16-AB9C87C22355</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9A43625B-8B42-4E30-B37C-1B58F0E56F66</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:modifier}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>false</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>9C1480BA-1349-4B3F-8C09-A02ECFB3A04A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>7B3DE571-9A9D-4CFD-9BA0-2A02C532B605</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>E8420A6A-9676-451A-A938-ABB0EE83E602</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>modifier</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D26B055A-96D5-4C81-AB29-D37C702618A2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>4F1B4D4C-8F04-4659-A082-15E4D2E109D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>3113D8EE-A05A-4894-ACE6-3C9BD29F3DDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>2AA8F8BC-F04B-451B-881C-BB4E301DCAFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>69F4E079-605B-4E6B-A1FB-76F01C7ECDE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell app "loginwindow" to «event aevtrsdn»</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>93A96678-25C2-4293-B799-0DC6E9C15231</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>modifier</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D25036F0-FC8C-4489-9EF0-0CB592BCB553</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>shutdown</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Shut Down</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CBC69E16-AE55-4662-838D-3DAD9B94F0D2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>E35B6A65-054A-414C-9AAB-BD5BDCD5F3CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CDD11843-2BF5-4126-BD29-DAED2926D797</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>Shutdown</string>
				<key>triggername</key>
				<string>Shutdown</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>01C9018E-ECA3-4F8F-A72A-D5912F969BB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>modifier</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>16D8FEF7-4203-4ACB-8395-65E7F3A14104</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>D7E1DC96-09A7-485B-AA99-4E286BD2D963</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>F0E16629-6269-451F-9EF5-31A1730E3747</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>9D5E80AA-C646-49FD-BBE7-57179F625C1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>07791A66-B245-4144-AC70-088D470C7890</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>BF5DC2DB-8AF7-477A-B8BE-E21399A24264</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>40B8A539-72EC-401E-BA9A-4E6191841E08</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>logout</string>
				<key>triggername</key>
				<string>Log Out</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>029A3B1A-E7EF-4B63-94B9-AE5CCF78EB44</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>logout</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Log Out</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>45EED7AA-E030-4DF2-8C72-1D48BF6567D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell app "System Events" to log out</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5AEA1F50-852C-43A4-9AE0-AE29E6C27783</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>modifier</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>410F1932-DC12-4C9B-86F9-7040FEC6D0A7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>modifier</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FF3CD26E-83BF-43FF-8ECC-954E2BA4E13A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>D0D27307-89FF-495D-A874-F40D172F2F1D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>1C8CB8E9-5D6A-4D5D-8C58-544886C3BD90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>373444A5-6B9A-4F0E-9C52-1998E878F010</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>8A7ECB5A-31F9-4959-9B04-7CF619336DD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sleep</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Sleep</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FCE9FAAF-1FD1-4E27-817E-0C7640FBB1B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell app "System Events" to sleep</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3C390299-D28C-4101-8177-3533F04D901A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>sleep</string>
				<key>triggername</key>
				<string>Sleep</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>3189ED1C-E819-4479-AD7F-0B4F15211B63</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

  display alert "Put computer to sleep...?" buttons {"No", "Yes"}
   if button returned of result = "No" then	   return false   else	   if button returned of result = "Yes" then		   return true	   end if   end if

end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>FF673225-0050-4C23-A345-6B5ACF96ACD4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FFB20CDE-5B23-4DFA-B5DD-D7DA182953CE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>758706E8-9F1C-4591-8102-0D0DFA593C25</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D2E6F6D5-E05A-4647-BDD3-E9FE7007B5EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>DD1A6549-674A-4C81-B077-124612F3D1B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>D22AD911-E47C-49B8-9B09-B2F37AE51E08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>449A778B-E09E-4BAB-A9E9-F895FD1FD7F7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>D27E45F3-A4B8-47A2-859D-73C5FAB9417F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>The way this workflow differs from Alfred's own System commands, is that it honors the "Reopen windows..." setting.

 — - - - - 

To change "Reopen windows..." setting quickly: 
- Use keyword with modifier “Cmd”
- Change “Reopen windows…” setting (Space)
- Cancel (Esc)</string>
	<key>uidata</key>
	<dict>
		<key>00637B4B-C4E9-487B-B4CD-A7EAD48147CA</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>01C9018E-ECA3-4F8F-A72A-D5912F969BB0</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>029A3B1A-E7EF-4B63-94B9-AE5CCF78EB44</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>06E76615-1487-40A6-9356-94EB8A129D88</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>07791A66-B245-4144-AC70-088D470C7890</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>0A95D085-F786-4D9F-B311-446958307F92</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>16D8FEF7-4203-4ACB-8395-65E7F3A14104</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>1C8CB8E9-5D6A-4D5D-8C58-544886C3BD90</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>2AA8F8BC-F04B-451B-881C-BB4E301DCAFB</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>3113D8EE-A05A-4894-ACE6-3C9BD29F3DDE</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>3189ED1C-E819-4479-AD7F-0B4F15211B63</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>373444A5-6B9A-4F0E-9C52-1998E878F010</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>3BE8EC98-C510-4B30-BB25-83198E6F4C07</key>
		<dict>
			<key>xpos</key>
			<integer>1440</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>3C390299-D28C-4101-8177-3533F04D901A</key>
		<dict>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>40B8A539-72EC-401E-BA9A-4E6191841E08</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>410F1932-DC12-4C9B-86F9-7040FEC6D0A7</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>449A778B-E09E-4BAB-A9E9-F895FD1FD7F7</key>
		<dict>
			<key>xpos</key>
			<integer>910</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>45EED7AA-E030-4DF2-8C72-1D48BF6567D3</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>4F1B4D4C-8F04-4659-A082-15E4D2E109D4</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>5826E876-45A1-45BF-8A38-47EBE766C2C9</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>5AEA1F50-852C-43A4-9AE0-AE29E6C27783</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>6473B2CE-66D4-4E19-B55C-4805C87F25A3</key>
		<dict>
			<key>note</key>
			<string>The dialog seemed to lose focus Sierra for some reason.

This part regains that focus.

(The dialog doesn't seem to lose focus when run from the Script editor.app)</string>
			<key>xpos</key>
			<integer>1130</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>69F4E079-605B-4E6B-A1FB-76F01C7ECDE6</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>758706E8-9F1C-4591-8102-0D0DFA593C25</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>7B3DE571-9A9D-4CFD-9BA0-2A02C532B605</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Delay: 0.0s

Adjust this delay if the workflow doesn't automatically press enter and close the confirm dialog.</string>
			<key>xpos</key>
			<integer>1350</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>8A7ECB5A-31F9-4959-9B04-7CF619336DD7</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>93A96678-25C2-4293-B799-0DC6E9C15231</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>9A43625B-8B42-4E30-B37C-1B58F0E56F66</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Confirm dialog</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>9C1480BA-1349-4B3F-8C09-A02ECFB3A04A</key>
		<dict>
			<key>xpos</key>
			<integer>1270</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>9D5E80AA-C646-49FD-BBE7-57179F625C1E</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>AFF1F0BE-C061-49A5-B6D3-EAD8AA5880A4</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>B683D75B-F989-45E2-8860-FC5E1192E5B4</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>BF5DC2DB-8AF7-477A-B8BE-E21399A24264</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Confirm dialog</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>530</integer>
		</dict>
		<key>CBC69E16-AE55-4662-838D-3DAD9B94F0D2</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>CDD11843-2BF5-4126-BD29-DAED2926D797</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>D0D27307-89FF-495D-A874-F40D172F2F1D</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>640</integer>
		</dict>
		<key>D22AD911-E47C-49B8-9B09-B2F37AE51E08</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>D25036F0-FC8C-4489-9EF0-0CB592BCB553</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>D26B055A-96D5-4C81-AB29-D37C702618A2</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>D27E45F3-A4B8-47A2-859D-73C5FAB9417F</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>D2E6F6D5-E05A-4647-BDD3-E9FE7007B5EE</key>
		<dict>
			<key>xpos</key>
			<integer>960</integer>
			<key>ypos</key>
			<integer>780</integer>
		</dict>
		<key>D7E1DC96-09A7-485B-AA99-4E286BD2D963</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>D866DA1D-5E55-49F2-AF16-AB9C87C22355</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>DD1A6549-674A-4C81-B077-124612F3D1B6</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>860</integer>
		</dict>
		<key>E35B6A65-054A-414C-9AAB-BD5BDCD5F3CD</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Confirm dialog</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>310</integer>
		</dict>
		<key>E8420A6A-9676-451A-A938-ABB0EE83E602</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Delay: 0.0s

Adjust this delay if the confirm dialog doesn't get activated automatically.</string>
			<key>xpos</key>
			<integer>1040</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>F0E16629-6269-451F-9EF5-31A1730E3747</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>420</integer>
		</dict>
		<key>FCE9FAAF-1FD1-4E27-817E-0C7640FBB1B6</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>FF3CD26E-83BF-43FF-8ECC-954E2BA4E13A</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>FF673225-0050-4C23-A345-6B5ACF96ACD4</key>
		<dict>
			<key>xpos</key>
			<integer>830</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
		<key>FFB20CDE-5B23-4DFA-B5DD-D7DA182953CE</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Confirm dialog</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.joonas.me</string>
</dict>
</plist>
