<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Rouwanzi.workflow.YoudaoDict</string>
	<key>connections</key>
	<dict>
		<key>27FF3BE2-BDA5-47D4-9792-D42B99E9EF78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6226E31-99A0-4F0F-A8AC-A4FD0885D3C9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D13BD25-50B0-4EC9-8DD7-F010D51AA8BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13131F53-AEF2-48E0-AB4A-1488C2BBECB6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4DB2E825-0A23-4487-90D5-A125F51C5949</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F0F56D5E-FC80-4863-AA30-E1BAB881DE75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9CAD4095-F48E-4074-A34C-A783BE5CD805</key>
		<array/>
		<key>A2E049B7-9548-44A6-B216-D56379032C1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>20B3A7BC-3D6B-495E-8018-3291EAF7CF26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A39AFBEB-7639-40B3-A68F-D1742F8F84BE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CAD4095-F48E-4074-A34C-A783BE5CD805</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C5D41734-DBB4-4A62-BBE0-28F3FA87884B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA7607BE-4937-42AA-924F-A4AAAAF8D070</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F0F56D5E-FC80-4863-AA30-E1BAB881DE75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A39AFBEB-7639-40B3-A68F-D1742F8F84BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4D13BD25-50B0-4EC9-8DD7-F010D51AA8BE</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Cmd + Enter直接粘贴</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>27FF3BE2-BDA5-47D4-9792-D42B99E9EF78</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Option + Enter去网页查看详细释义</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A2E049B7-9548-44A6-B216-D56379032C1A</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Shift + Enter发音</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C5D41734-DBB4-4A62-BBE0-28F3FA87884B</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Ctrl + Enter保存到有道单词本</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>rouwanzi</string>
	<key>description</key>
	<string>有道词典，中英互译、朗读、添加单词本</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YoudaoDict</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>Search YoudaoDict for '{query}'</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>4DB2E825-0A23-4487-90D5-A125F51C5949</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9CAD4095-F48E-4074-A34C-A783BE5CD805</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>@@.*</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>A39AFBEB-7639-40B3-A68F-D1742F8F84BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>13131F53-AEF2-48E0-AB4A-1488C2BBECB6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>@@.*</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>4D13BD25-50B0-4EC9-8DD7-F010D51AA8BE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>http://dict.youdao.com/search?q={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C6226E31-99A0-4F0F-A8AC-A4FD0885D3C9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>32</integer>
				<key>keyword</key>
				<string>yd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>searching...</string>
				<key>script</key>
				<string>/usr/bin/python YoudaoTranslate.py '{query}'
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>使用有道进行翻译...</string>
				<key>title</key>
				<string>有道翻译...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F0F56D5E-FC80-4863-AA30-E1BAB881DE75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*@@</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>27FF3BE2-BDA5-47D4-9792-D42B99E9EF78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>1</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>argumenttext</key>
				<string>yd </string>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>8E3616D0-C496-42C5-AD98-31E6863BF681</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>35</integer>
				<key>script</key>
				<string>/usr/bin/python functions.py '{query}' 1</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>20B3A7BC-3D6B-495E-8018-3291EAF7CF26</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*@@</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>A2E049B7-9548-44A6-B216-D56379032C1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>35</integer>
				<key>script</key>
				<string>/usr/bin/python functions.py '{query}' 2</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CA7607BE-4937-42AA-924F-A4AAAAF8D070</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>.*@@</string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>C5D41734-DBB4-4A62-BBE0-28F3FA87884B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>有道翻译

1.回车复制该条目
2.Cmd+Enter直接打印该条目
3.Option+Enter去有道网页查看详细释义
4.Shift+Enter发音
5.Ctrl+Enter添加到有道单词本
6.选定单词双击Ctrl直接查询(可自定义快捷键)
7.输入*号查询翻译历史，输入*clear清空翻译历史</string>
	<key>uidata</key>
	<dict>
		<key>13131F53-AEF2-48E0-AB4A-1488C2BBECB6</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>20B3A7BC-3D6B-495E-8018-3291EAF7CF26</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>27FF3BE2-BDA5-47D4-9792-D42B99E9EF78</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>4D13BD25-50B0-4EC9-8DD7-F010D51AA8BE</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>4DB2E825-0A23-4487-90D5-A125F51C5949</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>8E3616D0-C496-42C5-AD98-31E6863BF681</key>
		<dict>
			<key>xpos</key>
			<integer>20</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>9CAD4095-F48E-4074-A34C-A783BE5CD805</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A2E049B7-9548-44A6-B216-D56379032C1A</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>A39AFBEB-7639-40B3-A68F-D1742F8F84BE</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>C5D41734-DBB4-4A62-BBE0-28F3FA87884B</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>540</integer>
		</dict>
		<key>C6226E31-99A0-4F0F-A8AC-A4FD0885D3C9</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>CA7607BE-4937-42AA-924F-A4AAAAF8D070</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>510</integer>
		</dict>
		<key>F0F56D5E-FC80-4863-AA30-E1BAB881DE75</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>PASSWORD</key>
		<string></string>
		<key>USER_NAME</key>
		<string></string>
		<key>ZHIYUN_ID</key>
		<string></string>
		<key>ZHIYUN_KEY</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>PASSWORD</string>
		<string>ZHIYUN_ID</string>
		<string>ZHIYUN_KEY</string>
		<string>USER_NAME</string>
	</array>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/Rouwanzi/AlfredWorkflow_YoudaoTranslate</string>
</dict>
</plist>
