<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.suliveevil.ocrf</string>
	<key>connections</key>
	<dict>
		<key>0A12E5C8-9AC0-41DC-921E-7DBFD472FE78</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DCFE25F-0397-4621-9A4C-F581010F9ED9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C1B47E71-386C-4F72-B49C-220E1206B6DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1DB2F232-EC0F-4B27-B7C6-5895554B54D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7F287C4-094C-4029-93E7-90228EDB11DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DCFE25F-0397-4621-9A4C-F581010F9ED9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7F287C4-094C-4029-93E7-90228EDB11DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5FD4A95E-C4F8-46A6-8FF6-BEC276C51E15</key>
		<array/>
		<key>63F3B00F-9979-43F0-A453-17CBB4E3F66B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>772FBD47-65C0-4A4F-AA2E-042B45577EA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>772FBD47-65C0-4A4F-AA2E-042B45577EA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FD4A95E-C4F8-46A6-8FF6-BEC276C51E15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D93798F-3A8F-4D30-B1C7-CC7C3914A956</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A7F287C4-094C-4029-93E7-90228EDB11DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FF1956A-6FCB-4E8B-B493-364333B11E61</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5FD4A95E-C4F8-46A6-8FF6-BEC276C51E15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0D93798F-3A8F-4D30-B1C7-CC7C3914A956</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1B47E71-386C-4F72-B49C-220E1206B6DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>772FBD47-65C0-4A4F-AA2E-042B45577EA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Take a snapshot and OCR</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OCR+Translate</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash
# query=$1
eudic_version=$(/usr/libexec/PlistBuddy -c "Print :CFBundleIdentifier" /Applications/Eudb_en.app/Contents/Info.plist)
echo $query
if [ "$eudic_version" == "com.eusoft.eudic" ];then
    open -b 'com.eusoft.eudic'
osascript &lt;&lt;EOD
    tell application id "com.eusoft.eudic"
        reopen
        show dic with word "{query}"
    end tell
EOD
elif [ "$eudic_version" == "com.eusoft.freeeudic" ];then
    open -b 'com.eusoft.freeeudic'
osascript &lt;&lt;EOD
    tell application id "com.eusoft.freeeudic"
        activate
        show dic with word "{query}"
    end tell
EOD
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8FF1956A-6FCB-4E8B-B493-364333B11E61</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>ocrf</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>1DB2F232-EC0F-4B27-B7C6-5895554B54D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:$PATH

screencapture -i /tmp/ocr_snapshot.png

if [{query} = ""]; then
	tesseract /tmp/ocr_snapshot.png stdout 2&gt;&amp;1
else
	tesseract /tmp/ocr_snapshot.png stdout -l {query} 2&gt;&amp;1
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A7F287C4-094C-4029-93E7-90228EDB11DB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5FD4A95E-C4F8-46A6-8FF6-BEC276C51E15</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ocrf</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Take Snapshot and Recognize</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3DCFE25F-0397-4621-9A4C-F581010F9ED9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0A12E5C8-9AC0-41DC-921E-7DBFD472FE78</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>OCR Complete!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0D93798F-3A8F-4D30-B1C7-CC7C3914A956</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>ocr</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>OCR</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C1B47E71-386C-4F72-B49C-220E1206B6DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin/:$PATH

screencapture -i /tmp/ocr_snapshot.png

if [{query} = ""]; then
	tesseract /tmp/ocr_snapshot.png stdout 2&gt;&amp;1
else
	tesseract /tmp/ocr_snapshot.png stdout -l {query} 2&gt;&amp;1
fi</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>772FBD47-65C0-4A4F-AA2E-042B45577EA8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>ocr</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>63F3B00F-9979-43F0-A453-17CBB4E3F66B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Take a snapshot and call tesseract OCR API to recognize.</string>
	<key>uidata</key>
	<dict>
		<key>0A12E5C8-9AC0-41DC-921E-7DBFD472FE78</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>0D93798F-3A8F-4D30-B1C7-CC7C3914A956</key>
		<dict>
			<key>xpos</key>
			<integer>800</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>1DB2F232-EC0F-4B27-B7C6-5895554B54D6</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>3DCFE25F-0397-4621-9A4C-F581010F9ED9</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>5FD4A95E-C4F8-46A6-8FF6-BEC276C51E15</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>63F3B00F-9979-43F0-A453-17CBB4E3F66B</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>772FBD47-65C0-4A4F-AA2E-042B45577EA8</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>8FF1956A-6FCB-4E8B-B493-364333B11E61</key>
		<dict>
			<key>xpos</key>
			<integer>790</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>A7F287C4-094C-4029-93E7-90228EDB11DB</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>C1B47E71-386C-4F72-B49C-220E1206B6DA</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>[OCR: extract text from snapshot - Share your Workflows - Alfred App Community Forum](https://www.alfredforum.com/topic/12006-ocr-extract-text-from-snapshot/)
https://www.alfredforum.com/topic/12006-ocr-extract-text-from-snapshot/</string>
</dict>
</plist>
