<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.mpco.DEVONthinkSearch</string>
	<key>connections</key>
	<dict>
		<key>AEEE74EC-013E-4E75-9613-B680942F4B57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6F0540B9-8369-4632-BB26-562C84016094</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EF2B8184-401B-4AC3-B2BF-76E1D696F0B8</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open With External Editor</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5ADFA38B-5E2B-4BE5-8256-8E5977A665A7</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Reveal file in DEVONthink Window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Charles Ma</string>
	<key>description</key>
	<string>Search DEVONthink Documents</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>DEVONthink Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>6F0540B9-8369-4632-BB26-562C84016094</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTextContent</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTitle</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>dnt</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search in DEVONthink</string>
				<key>types</key>
				<array>
					<string>com.devon-technologies.metadata.think</string>
					<string>com.devon-technologies.metadata.thinkpro</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>AEEE74EC-013E-4E75-9613-B680942F4B57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>filePath=$(python getPathFromMetaFile.py "$1")
open "$filePath"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EF2B8184-401B-4AC3-B2BF-76E1D696F0B8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1
baseName=`basename "$query"`
filename="${baseName%.*}"

open "x-devonthink-item://${filename}?reveal=1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5ADFA38B-5E2B-4BE5-8256-8E5977A665A7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5ADFA38B-5E2B-4BE5-8256-8E5977A665A7</key>
		<dict>
			<key>note</key>
			<string>Press Cmd+Enter to reveal file in DEVONthink window</string>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>6F0540B9-8369-4632-BB26-562C84016094</key>
		<dict>
			<key>note</key>
			<string>Press the Return key to open the file you selected.</string>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>AEEE74EC-013E-4E75-9613-B680942F4B57</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>EF2B8184-401B-4AC3-B2BF-76E1D696F0B8</key>
		<dict>
			<key>note</key>
			<string>Press Alt+Enter to open file with external editor</string>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>https://github.com/mpco/AlfredWorkflow-DEVONthink-Search</string>
</dict>
</plist>
