<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.bogdanvitoc.send-screenshot-to-yoink</string>
	<key>connections</key>
	<dict>
		<key>38FD5063-7AFF-4018-B9BB-A5A0290F6FCA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D674A481-E06E-4346-A50F-FF5413CCFD04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53D80A3B-AFB6-4213-A963-773CD05154D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38FD5063-7AFF-4018-B9BB-A5A0290F6FCA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bogdan Vitoc</string>
	<key>description</key>
	<string>Sends screenshots to Yoink from ⇧⌘4</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Send Screenshot to Yoink</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>53D80A3B-AFB6-4213-A963-773CD05154D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo -n "$(date '+%m-%d-%Y-%H.%M.%S')"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>38FD5063-7AFF-4018-B9BB-A5A0290F6FCA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>on run	tell me		try			do shell script "pgrep Yoink"		on error			tell application "System Events" to set activeApp to name of first application process whose frontmost is true			do shell script "open /Applications/Yoink.app"			activate application activeApp		end try				set fileName to "{query}.jpg"		set folderPath to "~/Documents/Yoink"		set filePath to folderPath &amp; "/" &amp; fileName				do shell script "[ -d " &amp; folderPath &amp; " ] || mkdir " &amp; folderPath				try			do shell script ("screencapture -i " &amp; filePath)		on error			beep
			log "wat"			return		end try				do shell script "if [ -e " &amp; filePath &amp; " ]; then open -a /Applications/Yoink.app " &amp; filePath &amp; "; fi"	end tellend run</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D674A481-E06E-4346-A50F-FF5413CCFD04</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>38FD5063-7AFF-4018-B9BB-A5A0290F6FCA</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>53D80A3B-AFB6-4213-A963-773CD05154D1</key>
		<dict>
			<key>xpos</key>
			<integer>170</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>D674A481-E06E-4346-A50F-FF5413CCFD04</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>bogdanvitoc.com</string>
</dict>
</plist>
