<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>tylereich.versions</string>
	<key>connections</key>
	<dict>
		<key>1BC16572-D29B-43E0-862D-290405D712A7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9188DC3-0640-4E82-8AD2-2565F80E9C48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1D100C10-4B5F-470E-B120-45CDBA583869</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9188DC3-0640-4E82-8AD2-2565F80E9C48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6161FA19-B444-437C-BB33-AC021FB3C526</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E81D434A-1AB7-4B78-ABA9-64CC837878BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>81EC5914-414E-40E5-88B7-66EA7517F6AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>658B5232-AE2A-4F33-8BEC-A8261342E2A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E81D434A-1AB7-4B78-ABA9-64CC837878BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>81EC5914-414E-40E5-88B7-66EA7517F6AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>91C3901E-9BDE-443A-BD68-3DAD102F82F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6161FA19-B444-437C-BB33-AC021FB3C526</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9BBB433B-BDFA-4D72-85C5-7CC10EB4B655</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy with OS information</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A2982B81-290D-4CA4-888B-2FCE30596E7B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy and paste immediately</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BC16572-D29B-43E0-862D-290405D712A7</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy with OS information and paste immediately</string>
			</dict>
		</array>
		<key>9BBB433B-BDFA-4D72-85C5-7CC10EB4B655</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E81D434A-1AB7-4B78-ABA9-64CC837878BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>81EC5914-414E-40E5-88B7-66EA7517F6AF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A2982B81-290D-4CA4-888B-2FCE30596E7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9188DC3-0640-4E82-8AD2-2565F80E9C48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A34EE2C1-24D9-4172-9BCF-2A692D34D4E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>658B5232-AE2A-4F33-8BEC-A8261342E2A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D100C10-4B5F-470E-B120-45CDBA583869</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy and paste immediately</string>
			</dict>
		</array>
		<key>CB359148-1C33-4729-B775-552CF3CAAE2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6161FA19-B444-437C-BB33-AC021FB3C526</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9BBB433B-BDFA-4D72-85C5-7CC10EB4B655</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Copy with OS information</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A2982B81-290D-4CA4-888B-2FCE30596E7B</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy and paste immediately</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1BC16572-D29B-43E0-862D-290405D712A7</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Copy with OS information and paste immediately</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Tyler Eich</string>
	<key>description</key>
	<string>Application and operating system version information</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Versions</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>python app.py '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6161FA19-B444-437C-BB33-AC021FB3C526</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>version</string>
				<key>subtext</key>
				<string>Copy version information for the frontmost application</string>
				<key>text</key>
				<string>Frontmost App Version Info</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>91C3901E-9BDE-443A-BD68-3DAD102F82F4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E81D434A-1AB7-4B78-ABA9-64CC837878BF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>APP=$(python app.py '{query}')
SYSTEM=$(python system.py)
echo -n "$APP on $SYSTEM"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9BBB433B-BDFA-4D72-85C5-7CC10EB4B655</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>python app.py '{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A2982B81-290D-4CA4-888B-2FCE30596E7B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Version Info Copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>81EC5914-414E-40E5-88B7-66EA7517F6AF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>version</string>
				<key>scopes</key>
				<array>
					<string>/Applications</string>
					<string>~/Applications</string>
					<string>~/Downloads</string>
				</array>
				<key>subtext</key>
				<string>Copy version information for the app you select</string>
				<key>title</key>
				<string>Version Info for Installed App…</string>
				<key>types</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>CB359148-1C33-4729-B775-552CF3CAAE2F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>APP=$(python app.py '{query}')
SYSTEM=$(python system.py)
echo -n "$APP on $SYSTEM"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1BC16572-D29B-43E0-862D-290405D712A7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E9188DC3-0640-4E82-8AD2-2565F80E9C48</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>python system.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>658B5232-AE2A-4F33-8BEC-A8261342E2A4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>version</string>
				<key>subtext</key>
				<string>Copy version information for your operating system</string>
				<key>text</key>
				<string>Operating System Version Info</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A34EE2C1-24D9-4172-9BCF-2A692D34D4E2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>64</integer>
				<key>script</key>
				<string>python system.py</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D100C10-4B5F-470E-B120-45CDBA583869</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1BC16572-D29B-43E0-862D-290405D712A7</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>1D100C10-4B5F-470E-B120-45CDBA583869</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>6161FA19-B444-437C-BB33-AC021FB3C526</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>658B5232-AE2A-4F33-8BEC-A8261342E2A4</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>81EC5914-414E-40E5-88B7-66EA7517F6AF</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>91C3901E-9BDE-443A-BD68-3DAD102F82F4</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>9BBB433B-BDFA-4D72-85C5-7CC10EB4B655</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>A2982B81-290D-4CA4-888B-2FCE30596E7B</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>A34EE2C1-24D9-4172-9BCF-2A692D34D4E2</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>CB359148-1C33-4729-B775-552CF3CAAE2F</key>
		<dict>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>E81D434A-1AB7-4B78-ABA9-64CC837878BF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E9188DC3-0640-4E82-8AD2-2565F80E9C48</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/TylerEich/Alfred-Extras</string>
</dict>
</plist>
