<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.superFastAppSwitch</string>
	<key>connections</key>
	<dict>
		<key>055CD7E5-31D6-434F-88B7-52C5AB9EAA88</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>997C4D23-FFF2-48D7-B32F-5DA6C4734D64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>08453878-816C-4F8B-B0BE-93977D3EE766</key>
		<array/>
		<key>31629AC4-DEDF-4B9D-850B-60F52935FE9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A13F0C2-1456-426E-9125-38889DE1E6DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43CDC265-5377-4284-B511-99993E047E08</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08453878-816C-4F8B-B0BE-93977D3EE766</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EF10BEE-685D-4DE5-863B-69C05EDBEE0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55FA5658-D076-42D2-A81B-981629CE7A3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D8EABC1-67DA-4638-8C6B-B8F5616053EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E377F74C-32BB-4CB7-B30D-81DA93A9AA8B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AE18C845-E958-4D61-AC51-671C7603F6FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4F73FF14-CC11-4171-97C8-08DF38888D29</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xiaoou wang</string>
	<key>description</key>
	<string>show some frequently used apps</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>superFastAppSwitch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>c</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>show chrome</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>31629AC4-DEDF-4B9D-850B-60F52935FE9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'activate application "Google Chrome"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2A13F0C2-1456-426E-9125-38889DE1E6DF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>p</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>show praat</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43CDC265-5377-4284-B511-99993E047E08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'activate application "Path Finder"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4F73FF14-CC11-4171-97C8-08DF38888D29</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>f</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>show path finder</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AE18C845-E958-4D61-AC51-671C7603F6FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'activate application "praat"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>08453878-816C-4F8B-B0BE-93977D3EE766</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'activate application "Visual Studio Code"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E377F74C-32BB-4CB7-B30D-81DA93A9AA8B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>v</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>show vs code</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7D8EABC1-67DA-4638-8C6B-B8F5616053EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'activate application "MacVim"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>55FA5658-D076-42D2-A81B-981629CE7A3C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>m</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>show macvim</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5EF10BEE-685D-4DE5-863B-69C05EDBEE0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>i</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>show iTerm</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>055CD7E5-31D6-434F-88B7-52C5AB9EAA88</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'activate application "iTerm"'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>997C4D23-FFF2-48D7-B32F-5DA6C4734D64</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>055CD7E5-31D6-434F-88B7-52C5AB9EAA88</key>
		<dict>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>08453878-816C-4F8B-B0BE-93977D3EE766</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>2A13F0C2-1456-426E-9125-38889DE1E6DF</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>31629AC4-DEDF-4B9D-850B-60F52935FE9D</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>43CDC265-5377-4284-B511-99993E047E08</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>4F73FF14-CC11-4171-97C8-08DF38888D29</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>55FA5658-D076-42D2-A81B-981629CE7A3C</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>5EF10BEE-685D-4DE5-863B-69C05EDBEE0F</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>7D8EABC1-67DA-4638-8C6B-B8F5616053EE</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>997C4D23-FFF2-48D7-B32F-5DA6C4734D64</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>AE18C845-E958-4D61-AC51-671C7603F6FE</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>E377F74C-32BB-4CB7-B30D-81DA93A9AA8B</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>xiaoouwang.github.io</string>
</dict>
</plist>
