<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.calebevans.youversionsuggest</string>
	<key>connections</key>
	<dict>
		<key>0630AD3A-3525-4A36-9961-40C2F45751E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>79797949-AD92-4049-91B7-7FADB9E67A12</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0A274AEF-A5C3-40E1-8393-7F35E95A5731</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F34C1AA-276D-41D3-B7C5-1CB97C68F47A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28959088-424A-4236-BC2F-503B81E19E10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A81CEB51-4543-40F5-B03F-E38863B9C8B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6CF9D98-3DA3-4C80-A9DA-FCEC186BCA97</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy content to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5984CA9F-F242-4252-A9D1-F50D8AA07DEA</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Search using your preferred search engine</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>28DFBF9F-2DDE-4E42-AD36-E9FCDCBCFD42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A4EE5ACC-FCF0-4CDC-A292-7CE5658C3DC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3C870534-6AFB-4E90-BDB5-FDB63EA94DBE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0630AD3A-3525-4A36-9961-40C2F45751E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>859DF162-F833-47F5-A932-A27D1DE6AF99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D225304E-7F42-4FDB-A1D3-7367F012C5A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9EEC32B8-4AB6-41AA-93E2-4F842837DF26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A81CEB51-4543-40F5-B03F-E38863B9C8B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6CF9D98-3DA3-4C80-A9DA-FCEC186BCA97</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy content to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5984CA9F-F242-4252-A9D1-F50D8AA07DEA</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Search using your preferred search engine</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A81CEB51-4543-40F5-B03F-E38863B9C8B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>989125BD-B273-43DA-9A57-4E60FB6F5D2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C21F0E11-30F4-4F59-B084-372934E7BABB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>28DFBF9F-2DDE-4E42-AD36-E9FCDCBCFD42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0DB5473-45CB-4207-82EE-41D3551E961A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A274AEF-A5C3-40E1-8393-7F35E95A5731</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D225304E-7F42-4FDB-A1D3-7367F012C5A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E3317712-0546-49BC-AC83-9566E9C58465</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D6CF9D98-3DA3-4C80-A9DA-FCEC186BCA97</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFD0C695-A720-4758-8CC5-015B3F4C3993</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DFD0C695-A720-4758-8CC5-015B3F4C3993</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0DB5473-45CB-4207-82EE-41D3551E961A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3C870534-6AFB-4E90-BDB5-FDB63EA94DBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Caleb Evans</string>
	<key>description</key>
	<string>Search for and view Bible references on YouVersion</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>YouVersion Suggest</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>36</integer>
				<key>script</key>
				<string>/usr/bin/python -m yvs.get_ref_url "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A81CEB51-4543-40F5-B03F-E38863B9C8B5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>yvfilter</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/python -m yvs.filter_refs "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Type the name of a chapter, verse, or range or verses...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9EEC32B8-4AB6-41AA-93E2-4F842837DF26</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>989125BD-B273-43DA-9A57-4E60FB6F5D2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python -m yvs.get_ref_name "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A274AEF-A5C3-40E1-8393-7F35E95A5731</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied {query} to clipboard</string>
				<key>title</key>
				<string>YouVersion Suggest</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5F34C1AA-276D-41D3-B7C5-1CB97C68F47A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:copied_ref}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>D0DB5473-45CB-4207-82EE-41D3551E961A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/python -m yvs.copy_ref "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D6CF9D98-3DA3-4C80-A9DA-FCEC186BCA97</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:copied_ref}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DFD0C695-A720-4758-8CC5-015B3F4C3993</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Error trying to copy {query}</string>
				<key>title</key>
				<string>YouVersion Suggest</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>79797949-AD92-4049-91B7-7FADB9E67A12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python -m yvs.get_ref_name "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0630AD3A-3525-4A36-9961-40C2F45751E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>yvsearch</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>/usr/bin/python -m yvs.search_refs "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search the Bible for a word or phrase...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>28959088-424A-4236-BC2F-503B81E19E10</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:copied_ref}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3C870534-6AFB-4E90-BDB5-FDB63EA94DBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>searcher</key>
				<integer>1635215215</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.systemwebsearch</string>
			<key>uid</key>
			<string>5984CA9F-F242-4252-A9D1-F50D8AA07DEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>YouVersion Suggest</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A4EE5ACC-FCF0-4CDC-A292-7CE5658C3DC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>yvset</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/python -m yvs.filter_prefs "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Set YouVersion Suggest preferences...</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C21F0E11-30F4-4F59-B084-372934E7BABB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/python -m yvs.set_pref "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>28DFBF9F-2DDE-4E42-AD36-E9FCDCBCFD42</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yvclearcache</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Clear YouVersion Suggest cache...</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>859DF162-F833-47F5-A932-A27D1DE6AF99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>/usr/bin/python -m yvs.clear_cache "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D225304E-7F42-4FDB-A1D3-7367F012C5A3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Cleared cache</string>
				<key>title</key>
				<string>YouVersion Suggest</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E3317712-0546-49BC-AC83-9566E9C58465</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Please refer to the README on the YouVersion Suggest GitHub repository:
https://github.com/caleb531/youversion-suggest#readme</string>
	<key>uidata</key>
	<dict>
		<key>0630AD3A-3525-4A36-9961-40C2F45751E1</key>
		<dict>
			<key>note</key>
			<string>Get Reference Name</string>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>0A274AEF-A5C3-40E1-8393-7F35E95A5731</key>
		<dict>
			<key>note</key>
			<string>Get Reference Name</string>
			<key>xpos</key>
			<integer>640</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>28959088-424A-4236-BC2F-503B81E19E10</key>
		<dict>
			<key>note</key>
			<string>Search References</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>28DFBF9F-2DDE-4E42-AD36-E9FCDCBCFD42</key>
		<dict>
			<key>note</key>
			<string>Set Preference</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>3C870534-6AFB-4E90-BDB5-FDB63EA94DBE</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
		<key>5984CA9F-F242-4252-A9D1-F50D8AA07DEA</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>5F34C1AA-276D-41D3-B7C5-1CB97C68F47A</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>79797949-AD92-4049-91B7-7FADB9E67A12</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>350</integer>
		</dict>
		<key>859DF162-F833-47F5-A932-A27D1DE6AF99</key>
		<dict>
			<key>note</key>
			<string>Clear Cache</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>989125BD-B273-43DA-9A57-4E60FB6F5D2E</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>9EEC32B8-4AB6-41AA-93E2-4F842837DF26</key>
		<dict>
			<key>note</key>
			<string>Filter References</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>A4EE5ACC-FCF0-4CDC-A292-7CE5658C3DC1</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>A81CEB51-4543-40F5-B03F-E38863B9C8B5</key>
		<dict>
			<key>note</key>
			<string>Get Reference URL</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>C21F0E11-30F4-4F59-B084-372934E7BABB</key>
		<dict>
			<key>note</key>
			<string>Filter Preferences</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>560</integer>
		</dict>
		<key>D0DB5473-45CB-4207-82EE-41D3551E961A</key>
		<dict>
			<key>xpos</key>
			<integer>570</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>D225304E-7F42-4FDB-A1D3-7367F012C5A3</key>
		<dict>
			<key>note</key>
			<string>Clear Cache</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
		<key>D6CF9D98-3DA3-4C80-A9DA-FCEC186BCA97</key>
		<dict>
			<key>note</key>
			<string>Copy Reference</string>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>DFD0C695-A720-4758-8CC5-015B3F4C3993</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>E3317712-0546-49BC-AC83-9566E9C58465</key>
		<dict>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>700</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>10.0.0</string>
	<key>webaddress</key>
	<string>calebevans.me</string>
</dict>
</plist>
