<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.thomaspeikert.ascii_smileys</string>
	<key>connections</key>
	<dict>
		<key>0FC15C99-1476-45B8-8C0D-3168F941604A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C5FCF1F1-66C3-4013-911D-866B4F1F3B1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>146443A6-E4BB-46E9-AC24-0798DB758C15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CE8529E-6B48-45C3-ACDB-B09311E915F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1475F7A2-3E77-47C2-B3D5-B8C72786D98E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6BB6C2A-6E9B-42EC-BDB2-211A44740A33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>662603BD-5E91-4AAF-A6BD-F680F3260274</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>440C4B41-41AE-446F-B7B7-7A4BD972E1B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6FB31221-D116-4511-B6FC-4EB3830EA880</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5159CA1A-875F-499C-8313-F8118F07FC56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B6858EEB-7851-4230-B5D5-4F1140940891</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CE92F89-A88B-413C-8E37-C0939C60CE53</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B7383217-871F-4588-B74A-F0A5841AD98F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C74CCADE-046E-4909-969D-BF89A2324FCB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Thomas Peikert</string>
	<key>description</key>
	<string>Copy and paste ascii smileys (largely made from chinese characters) ¯\_(ツ)_/¯</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ASCII smileys ツ</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sml cry</string>
				<key>subtext</key>
				<string>post a crying smiley</string>
				<key>text</key>
				<string>(ಥ﹏ಥ)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6FB31221-D116-4511-B6FC-4EB3830EA880</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>(ಥ﹏ಥ)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5159CA1A-875F-499C-8313-F8118F07FC56</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>ツ</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>440C4B41-41AE-446F-B7B7-7A4BD972E1B5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sml smirk</string>
				<key>subtext</key>
				<string>post a smirking smiley</string>
				<key>text</key>
				<string>ツ</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>662603BD-5E91-4AAF-A6BD-F680F3260274</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sml shrug</string>
				<key>subtext</key>
				<string>post a shrugging smiley</string>
				<key>text</key>
				<string>¯\_(ツ)_/¯</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>146443A6-E4BB-46E9-AC24-0798DB758C15</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>¯\_(ツ)_/¯</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>1CE8529E-6B48-45C3-ACDB-B09311E915F8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>ಠ_ಠ</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D6BB6C2A-6E9B-42EC-BDB2-211A44740A33</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sml disapproval</string>
				<key>subtext</key>
				<string>post a disapproving smiley</string>
				<key>text</key>
				<string>ಠ_ಠ</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1475F7A2-3E77-47C2-B3D5-B8C72786D98E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>(╯°□°）╯︵ ┻━┻</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C74CCADE-046E-4909-969D-BF89A2324FCB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sml tableflip</string>
				<key>subtext</key>
				<string>post a tableflip smiley</string>
				<key>text</key>
				<string>(╯°□°）╯︵ ┻━┻</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B7383217-871F-4588-B74A-F0A5841AD98F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>༼ つ ◕_◕ ༽つ</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8CE92F89-A88B-413C-8E37-C0939C60CE53</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sml gimme</string>
				<key>subtext</key>
				<string>post a gimme smiley</string>
				<key>text</key>
				<string>༼ つ ◕_◕ ༽つ</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B6858EEB-7851-4230-B5D5-4F1140940891</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>ヾ(＾∇＾)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C5FCF1F1-66C3-4013-911D-866B4F1F3B1C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sml wave</string>
				<key>subtext</key>
				<string>post a waving smiley</string>
				<key>text</key>
				<string>ヾ(＾∇＾)</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0FC15C99-1476-45B8-8C0D-3168F941604A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>type one of the commands below to copy and paste the corresponding smiley

or type sml and select one by pressing cmd + position in list

the smileys will automatically be sorted by most recent use


sml shrug ¯\_(ツ)_/¯
sml crying (ಥ﹏ಥ)
sml disapproving ಠ_ಠ
sml smirk ツ
sml tableflip (╯°□°）╯︵ ┻━┻
sml gimme ༼ つ ◕_◕ ༽つ
sml wave ヾ(＾∇＾)</string>
	<key>uidata</key>
	<dict>
		<key>0FC15C99-1476-45B8-8C0D-3168F941604A</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>146443A6-E4BB-46E9-AC24-0798DB758C15</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>1475F7A2-3E77-47C2-B3D5-B8C72786D98E</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>1CE8529E-6B48-45C3-ACDB-B09311E915F8</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>440C4B41-41AE-446F-B7B7-7A4BD972E1B5</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5159CA1A-875F-499C-8313-F8118F07FC56</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>662603BD-5E91-4AAF-A6BD-F680F3260274</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>6FB31221-D116-4511-B6FC-4EB3830EA880</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8CE92F89-A88B-413C-8E37-C0939C60CE53</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>B6858EEB-7851-4230-B5D5-4F1140940891</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>B7383217-871F-4588-B74A-F0A5841AD98F</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>C5FCF1F1-66C3-4013-911D-866B4F1F3B1C</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>C74CCADE-046E-4909-969D-BF89A2324FCB</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>D6BB6C2A-6E9B-42EC-BDB2-211A44740A33</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.thomaspeikert.com</string>
</dict>
</plist>
