<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.wordpress.techTipsWithTheMuss.VirtualNumberPad</string>
	<key>connections</key>
	<dict>
		<key>25CBFAE2-9CD8-46DD-BE5B-8C39F57B2BF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84FBF476-8CA1-45C0-B9E0-32137AB8DFD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>4EB4B476-9D11-43DE-88A8-3727DBA24491</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel Musser</string>
	<key>description</key>
	<string>Creates a virtual number pad for compact keyboards</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Virtual Number Pad</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>84FBF476-8CA1-45C0-B9E0-32137AB8DFD6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>num</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>creating number from your input</string>
				<key>script</key>
				<string>python NumberPad.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Use a virtual number pad</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>25CBFAE2-9CD8-46DD-BE5B-8C39F57B2BF8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query} was pasted</string>
				<key>title</key>
				<string>Number Pasted To Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>4EB4B476-9D11-43DE-88A8-3727DBA24491</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow is for the large number of Apple wireless keyboard owners who wish they could use a number pad every once in a while.

Use by typing in "np" with the quote marks and then type a number using the keys u, i, o, j, k, and l. This script will then convert the input of those keys into the numbers that they would type if they were an actual number pad.

Created by Daniel Musser in 2017.

Keyboard image in Public Domain and can be found on: https://pixabay.com/en/keyboard-leave-computer-keyboard-2104009/</string>
	<key>uidata</key>
	<dict>
		<key>25CBFAE2-9CD8-46DD-BE5B-8C39F57B2BF8</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>4EB4B476-9D11-43DE-88A8-3727DBA24491</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>190</integer>
		</dict>
		<key>84FBF476-8CA1-45C0-B9E0-32137AB8DFD6</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://techtipswiththemuss.wordpress.com/</string>
</dict>
</plist>
